*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    max-width: 1440px;
    margin: auto; 
    overflow: auto;
    height: 100vh;  
}
.container{
    background-image: url(./mainBackground.png);
    background-size: cover;
    height: 120%;
    /* filter: brightness(50%); */
    padding: 0 5%;
}
nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
nav img{
    height: 50px;
}
nav ul{
    display: flex;
    margin-left: -200px;   
}
nav ul li{
    margin: 0 15px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    color: #ffffff;
    /* filter: brightness(150%); */
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    /* margin: 0 5%; */
}
.top_banner h1{
    width: 60%;
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: 600;
    margin: 10% 0 0 5%;
}
.top_banner p{
    width: 30%;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 300;
    margin: 10px 5%;
}
.top_banner button{
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff ;
    background-color:#6663e9;
    margin: 10px 0 0 5%;
    cursor: pointer;
}
.logoname{
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
    border-radius: 50px;
    background-color: #ffffff;
    position: relative;
    margin: -90px 5%;
}
main{
    padding: 100px 5%    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4e4e4;
}
main h1{
    padding: 20px 0;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: black;
}
.estate{
    display: flex;
    flex-direction: row;
}
.bungalow1, .bungalow2, .bungalow3{
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bungalow2{
    position: relative;
    margin-top: 30px;
}
.bungalow3{
    position: relative;
    margin-top: 60px;
}
.cardimage{
    width: 368px;
    height: 400px;
    /* border-radius: 50px; */
}
.cardimage img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: 50% 0;
    overflow: hidden;
    border-radius: 20px;
}
.bungalow_price{
    width: 330px;
    height: 120px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    position: relative;
    margin-top: -60px;
}
.bungalow_price p{
    font-size: 1.5rem;
    font-weight: 600;
}
.bungalow_price p span{
    font-size: 1.2rem;
    font-weight: 700;
    color: #7270ee;
}
.bungalow_price button{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    background: #6663e9;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;

}
.modern_house{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 100px 0;
    width: 100%;
}
.modern_house-img{
    display: flex;
    flex-direction: row;
    width: 55%;
}
.featureImageBg1{
    margin-left: -70px;
}
.featuresImg{
    height: 520px;
    width: 520px;
    border-radius: 30px;
    position: relative;
    top: -70px;
    left: -580px;
}
.modern_trendy{
    width: 45%;
    display: block;
    align-items: center;
    padding: 30px 50px;
}
.modern_trendy h2{
    font-size: 3rem;
    font-weight: 600;
    color: black;
}
.modern_trendy p{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(46, 46, 46);
    padding: 50px 0;
}
.modern_trendy button{
    padding: 12px 30px;
    border-radius: 50px;
    border: none;
    background-color: #6663e9;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;

}
.unique_house{
    display: flex;
    flex-direction: row;
    padding: 100px 0;
    width: 100%;
}
.unique_long-term{
    width: 50%;
    display: block;
    align-items: center;
    padding: 30px 50px;
}
.unique_long-term h2{
    font-size: 3rem;
    font-weight: 600;
    color: black;
}
.unique_long-term p{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(46, 46, 46);
    padding: 50px 0;
}
.unique_house-img{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.feature-Image2{
    height: 100%;
    margin-left: -31px;
}
.featureImg2{
    height: 500px;
    width: 520px;
    border-radius: 30px;
    position: relative;
    top: -70px;
    margin-left: -645px;
}
.unique_house button{
    padding: 12px 30px;
    border-radius: 50px;
    border: none;
    background-color: #6663e9;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;

}
.newsletter{
    padding: 50px 100px;
    background-color: #6663e9;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter h2{
    width: 70%;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
}
.newsletter p{
    width: 60%;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    padding: 30px 0;
}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email img{
    position: absolute;
    margin-left: 20px;
    z-index: 1;
}
.email input{
    padding: 15px 60px;
    width: 350px;
    border-radius: 50px;
    border: none;
    background-color: #4946f0;
}
::placeholder{
    color: #ffffff;
    opacity: 50%;
}
.email button{
    padding: 15px 30px ;
    border-radius: 50px;
    color: #6663e9;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    margin-left: 30px;
    cursor: pointer;
}
footer{
    padding: 8% 5%;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social{
    display: block;
    width: 50%;
}
.social--media{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}
.social--media img{
    margin-right: 15px;
    cursor: pointer;
}
.social p{
    width: 50%;
    padding: 10px 0;
    font-size: 1rem;
}
.location-contact{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.location{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.location h6{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 0 15px;
}
.location ul li{
    list-style: none;
    padding: 10px 0;
}
.contact{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.contact h6{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 0 15px;
}
.contact ul li{
    list-style: none;
    padding: 10px 0;
}
.legals{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.legals h6{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 0 15px;
}
.legals ul li{
    list-style: none;
    padding: 10px 0;
}
